/* ==============================================
   FEUILLE DE STYLE DU SITE "JAMAIS SANS MA POMME"
   ============================================== */



/*titre*/

<<<<<<< HEAD
h1,h2,h3,h4,h5,p,#liste2,#description,footer{font-family: 'Lato', cursive; color:black;}
=======
h1,h2,h4,h5,p,#liste2,#description,#footer{font-family: 'Satisfy', cursive; color:black;}
>>>>>>> origin/master

h3{font-family: 'Satisfy', cursive; color:white;}

h1{font-size:30px;}
h2{font-size: 40px; text-align:center;}
h3{font-size:30px; text-align:center;}
h4{font-size: 20px; text-align:center;}
h5{position:relative; bottom:250px;margin:auto; margin-top:50px;font-size: 40px;}

/*Rond de "Qui sommes nous ?"*/
#fond_titre_h5{
  position: relative;
  color: #E8CC06; opacity: 0.5;
  margin: auto; width: 400px; height: 300px;
  background: #59983b;
  -webkit-border-radius: 250px / 200px; -moz-border-radius: 250px / 200px; -o-border-radius: 250px / 200px;
  border-radius: 250px / 200px;
  vertical-align: bottom;
}

/*liens*/
a{color:black; text-decoration:none;}
a:hover{color:#00FF00;}
/*Bandeau du bas*/
footer{
    clear:both; position: relative; bottom: -20px; height: 75px;
	border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; margin-left: 6px;
	text-align: center;
	top:0;
	font-size:1em;
}

/*corps du texte*/
p{font-size:18px;}
ul{font-size:15px;}



/* partie positionnement et déco */
#menu a { display:block; color: #fff; text-decoration:none;}
#menu > li, #menu > li li {
	font-family: 'Lato', cursive; font-size:0.8em ;
	position: relative; display:inline-block;
	width: 110px; padding: 6px 15px;
	background-color: #000; /*background-image: linear-gradient(#aaa, #888 50%, #777 50%,#999);*/
}
#menu > li li { background: transparent none; }
#menu > li li a { color: #444; }
#menu > li li:hover { background:#eee; }
#menu > li:first-child {border-right: 1px solid #777; border-radius: 8px 0 0 8px;}
#menu > li + li {border-left: 1px solid #aaa; border-right: 1px solid #777;}
#menu > li:last-child {border-right:0; border-left: 1px solid #aaa; border-radius: 0 8px 8px 0 ;}
#menu > li:hover {background-color: #999; /*background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);*/}

/* dans cette déclaration, on fixe le max-height */
#menu ul {
	position: absolute; top: 2em; left:0;
	max-height:0em;	margin:0; padding:0;
	background-color:#ddd; background-image: linear-gradient(#fff,#ddd);
	overflow:hidden;
	transition: 1s max-height 0.3s;
	border-radius: 0 0 8px 8px;

}

/* ici on change la valeur de max-height au :hover */ /* need an adaptation, lower is better, but see it large  ;)  */
#menu > li:hover ul {max-height:13em;}

/*items pour fruits/légumes */
#liste2{font-size: 13px;}

 /*la taille des images*/
img{width:200px; height:150px;}

/* style du tableau3*3 
table,td{border: 2px solid #331f1d; }*/

/* fond */
<<<<<<< HEAD
#fond{background-repeat:no-repeat; background-image:url(miam.jpg); background-size: cover; text-align:center;}
=======
#fond{background-repeat:no-repeat; background-image:url(Images_Deco/fond_ecran_qui_plait_a_alice.jpg); background-size: cover; text-align:center;}
>>>>>>> origin/master

/*#logo{width:100px; height:50px;}*/

#container{
	width: 100%;
	font-size: 100%;
}

#trait{border-top : 1px solid #000; width : 500px;}
<<<<<<< HEAD
/*Centrer le tableau d'accueil*/
#centrer_tableau{
	margin:0;
	padding:0;
	text-align:center;
}
section {
	background-color:rgba(191,191,191,0.7);
	width: 100%;
	padding-bottom:50px;
	border-radius:50px;
}
#prod {
	list-style-type: none;
}
#mesproducteursfavoris {
	margin-bottom:18em;
}
nav {
	background-color:rgba(0,97,11,0.5);
	padding-top:5px;
	padding-bottom:5px;
	width:110%;
	margin-left: -10px;
	}
#logo {
	left:0;
	position:absolute;
	margin-top:8px;
	
	
}
#logo2{
	height:auto;
	width:120px;
	
=======


#div_horloge{
	margin-left:58;
	font-family: 'Satisfy', cursive; 
	color:black;
	font-size:30px;
>>>>>>> origin/master

}